# Data
config.yml
schedule.yml
emulator/state.json
# Dependency directories
node_modules/
# Optional npm cache directory
.npm
# dotenv environment variable files
.env
# Diagrams
*.bkp
*.dtmp
# Testing
coverage/