/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	vertical-align: baseline;
	box-sizing: border-box;
}
body {
  text-align: center;
  background-color: #2e3440;
  color: #d8dee9;
  background-image: url('../images/diagram.svg');
  background-repeat: no-repeat;
  background-position: top left;
  min-height: 2000px;
  min-width: 1600px;
}
#gpio {
  width: 40px;
  position: absolute;
  top: 120.5px;
  left: 370.5px;
  line-height: 0;
}
.pin {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 10px;
}
#gpio .pin:nth-child(even) {
}
.gpio_high {
	background-color: #83ad5f;
  box-shadow: #83ad5f 0 0 8px 4px;
  animation: blink .3s infinite;
}
.gpio_high.gpio_in {
	background-color: #bf616a;
  box-shadow: #bf616a 0 0 5px 3px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}
