/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	vertical-align: baseline;
	box-sizing: border-box;
}
body {
  text-align: center;
  background-color: #2e3440;
  color: #d8dee9;
  background-image: url('../images/diagram.svg');
  background-repeat: no-repeat;
  background-position: top left;
  min-height: 2000px;
  min-width: 1600px;
}
#gpio {
  width: 40px;
  position: absolute;
  top: 120.5px;
  left: 720.5px;
  line-height: 0;
}
.mcp23017_module {
  padding-top: 110px;
  width: 443px;
  position: absolute;
  top: 650.5px;
  line-height: 0;
  height: 1142px;
}
#MODULE_01 {
  left: 249px;
}
#MODULE_02 {
  left: 849px;
}
.pin, .module_pin {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  border: 1px solid white;
  border-radius: 10px;
}

.mcp23017_pins {
  display: flex;
  width: 200px;
  margin: 0 auto;
  flex-wrap: wrap;
  position: relative;
}
.mcp23017_pins .module_pin:nth-child(odd) {
  margin-right:165px;
}
.mcp23017_relays_pins {
  position: absolute;
  top: 480px;
  left: 120px;
  width: 202px;
  height: 80px;
}
.mcp23017_relays_pins span {
  position: absolute;
}
.relay_B0 {
  bottom: 0;
  left: 162px;
}
.relay_B1 {
  bottom: 0;
  left: 142px;
}
.relay_B2 {
  bottom: 0;
  left: 122px;
}
.relay_B3 {
  bottom: 0;
  left: 102px;
}
.relay_B4 {
  bottom: 0;
  left: 82px;
}
.relay_B5 {
  bottom: 0;
  left: 62px;
}
.relay_B6 {
  bottom: 0;
  left: 42px;
}
.relay_B7 {
  bottom: 0;
  left: 22px;
}
.relay_A7 {
  top: 0;
  left: 142px;
}
.relay_A6 {
  top: 0;
  left: 122px;
}
.relay_A5 {
  top: 0;
  left: 102px;
}
.relay_A4 {
  top: 0;
  left: 82px;
}
.relay_A3 {
  top: 0;
  left: 62px;
}
.relay_A2 {
  top: 0;
  left: 42px;
}
.relay_A1 {
  top: 0;
  left: 22px;
}
.relay_A0 {
  top: 0;
  left: 142px;
}

.mcp23017_relays_outputs {
  position: absolute;
  top: 730px;
  left: 2px;
  width: 440px;
  height: 390px;
}
.mcp23017_relays_outputs span {
  position: absolute;
}
.mcp23017_relays_outputs .module_output {
  width: 80px;
  height: 40px;
}
.relay_output_B0 {
  top: 300px;
  right: 0;
}
.relay_output_A7 {
  top: 350px;
  right: 0;
}
.relay_output_B1 {
  top: 200px;
  right: 0;
}
.relay_output_A6 {
  top: 250px;
  right: 0;
}
.relay_output_B2 {
  top: 100px;
  right: 0;
}
.relay_output_A5 {
  top: 150px;
  right: 0;
}
.relay_output_B3 {
  top: 0;
  right: 0;
}
.relay_output_A4 {
  top: 50px;
  right: 0;
}
.relay_output_B4 {
  top: 50px;
  left: 0;
}
.relay_output_A3 {
  top: 0;
  left: 0;
}
.relay_output_B5 {
  top: 150px;
  left: 0;
}
.relay_output_A2 {
  top: 100px;
  left: 0;
}
.relay_output_B6 {
  top: 250px;
  left: 0;
}
.relay_output_A1 {
  top: 200px;
  left: 0;
}
.relay_output_B7 {
  top: 350px;
  left: 0;
}
.relay_output_A0 {
  top: 300px;
  left: 0;
}
.gpio_high, .output_high  {
	background-color: #83ad5f;
  box-shadow: #83ad5f 0 0 0 3px;
  animation: blink .3s infinite;
}
.gpio_high.gpio_in, .output_high.output_in {
	background-color: #bf616a;
  box-shadow: #bf616a 0 0 0 3px;
}
.module_output.output_high {
  background-color: transparent;
  animation: none;
  box-shadow: rgba(136, 192, 208, .5) 0 0 0 5px;
}
.module_output.output_high span {
  font-size: 26px;
  position: absolute;
  overflow: hidden;
  right: -30px;
  top: 10px;
  display: block;
  width: 30px;
  height: 20px;
  color: #88c0d0;
  line-height: 1rem;
  border: none;
}
.module_output.output_high span::after {
  content: "";
  background-size: contain;
  
  background-position: center;
  background-image: url('../images/drop.svg');
  display: block;
  position: absolute;
  height: 20px;
  width: 60px;
  animation: slideRightOut 1s infinite linear;
}
.module_output.output_high:nth-child(n+9) span {
  left: -30px;
}
.module_output.output_high:nth-child(n+9) span::after {
  animation: slideLeftOut 1s infinite linear;
}
.module_output.output_high.relay_output_A7 span::after {
  animation: slideRightIn 1s infinite linear;
}
.module_output:not(:nth-last-child(2))::after {
  content: "";
  position: absolute;
  height: 40px;
  width: 60px;
  right: -70px;
  background-image: url('../images/plant.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.module_output:nth-child(n+9):after {
  left: -70px;
}
.module_output:nth-child(2)::after {
  background-image: url('../images/bucket.svg');
}

@keyframes slideRightOut {
  0% {
    right: 0px;
  }
  100% {
    right: -20px;
  }
}
@keyframes slideLeftOut {
  0% {
    right: -20px;
  }
  100% {
    right: 0;
  }
}
@keyframes slideRightIn {
  0% {
    right: -20px;
  }
  100% {
    right: 0;
  }
}


@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.85;
  }
  100% {
    opacity: 1;
  }
}
